<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<meta charset="UTF-8" />
	
	<style type="text/css">
		* { font-family: Verdana, Arial, sans-serif; }
		body { background-color: #fff; cursor: default; font-size: 10pt;}
		h1 { font-size: 15pt; }
        .schema{ width: 80%; margin: 30px;}
    </style>
</head>

<body>
	<h1>Welcome to the account management backend</h1>
    <p>User Credentials:</p>
    <p>username: username, password: password (-> role: user)</p>
    <p>username: admin, password: admin (-> role: admin)</p>
    <p>The User Schema:</p>
    <pre class="schema">
        title: { type: String }, // maybe predefined and select via dropdown
        gender: { type: String }, // select via dropdown?
        <b>firstname</b>: { type: String, required: true, trim: true },
        <b>lastname</b>: { type: String, required: true, trim: true },
        <b>username</b>: { // needs to be trimmed in frontend?
            type: String, unique: true, required: true, trim: true,
        },
        <b>email</b> {
            type: String, unique: true, required: true, trim: true,
        },
        <b>password</b> { type: String, required: true },
        organisation: { type: String, trim: true },
        address: { type: String, trim: true },
        city: { type: String }, // maybe also predefined via npm module
        country: { type: String }, // maybe also predefined via npm module
        zipCode: { type: Number },
        <b>fieldOfActivity</b>: { type: String, required: true, trim: true },
        <b>researchInterest</b>: { type: Array, required: true }, // predefined in enums
        role: { type: String, enum: ['admin', 'user'], default: 'user' },
        <b>securityQuestion</b>: { type: String, required: true }, // predefined in enums
        <b>securityAnswer</b>: { type: String, required: true, trim: true },
        eventbasedRole: [
            {
            role: { type: String },
            event: { type: Number }, // contains id of event
            },
        ],
    </pre>
    <hr>
	<h1>How to use our service:</h1>
    <br/>
    <p>Collections</p>
    <ul>
        <li>POST /securityQuestions
            <ul>
                <li>query: languageCode (en or de)</li>
                <li>returns: all possible security questions</li>
            </ul>
        </li><br>
        <li>GET /researchInterests
            <ul>
                <li>returns: all possible research Interests</li>
            </ul>
        </li>
    </ul>
    <hr>
    <p>User</p>
    <ul>
        <h3><b>GET</b></h3>
        <li>GET /userByID 
            <ul>
                <li>query: id, token </li>
                <li>returns: 403 on error with message or an object containing a user on success</li>
            </ul>
        </li><br>
        <li>GET /userRoleByID (based on event)
            <ul>
                <li>query: id, event (event here only means the event id), token </li>
                <li>returns: 403 on error with message or the event role</li>
            </ul>
        </li><br>
        <li>GET /researchInterestByID 
            <ul>
                <li>query: id, token</li>
                <li>returns: 403 on error with message or researchInterests on success</li>
            </ul>
        </li><br>
        <li>GET /securityQuestion 
            <ul>
                <li>query: email</li>
                <li>returns: 403 on error with message or user id and querstion on success</li>
            </ul>
        </li><br>
        <li>GET /uniqueUsername
            <ul>
                <li>query: username</li>
                <li>returns: boolean wether username is unique</li>
            </ul>
        </li><br>
        <li>GET /uniqueEmail 
            <ul>
                <li>query: email</li>
                <li>returns: boolean wether email is unique</li>
            </ul>
        </li><br>
        <h3><b>POST/PATCH</b></h3>
        <li>POST /login
            <ul>
                <li>body: username, password</li>
                <li>returns: 400/401 on error with message or an object containing a token on success</li>
                <li>cookies: the browser cookies are updated on success with an object containing the token <b>Please add credentials: 'include' to the fetch, so that the browser can store the cookies</b></li>
            </ul>
        </li><br>
        <li>POST /register
            <ul>
                <li>body: user object (see hint below for minimal requirements)</li>
                <li>returns: 400/500 on error with message or an object containing a token on success</li>
                <li>cookies: the browser cookies are updated on success with an object containing the token <b>Please add credentials: 'include' to the fetch, so that the browser can store the cookies</b></li>
            </ul>
        </li><br>
        <li>POST /checkSecurityAnswer 
            <ul>
                <li>body: id, securityAnswer</li>
                <li>returns: 400/403 on error with message or 200 on success</li>
            </ul>
        </li><br>
        <li>POST /deleteUser 
            <ul>
                <li>query: token</li>
                <li>body: username, password</li>
                <li>returns: 401/403/500 on error with message or 200 on success</li>
            </ul>
        </li><br>
        <li>PATCH /updateUser 
            <ul>
                <li>query: token</li>
                <li>body: object containing new values</li>
                <li>params: id </li>
                <li>returns: 400/403/500 on error with message or an object containing a token on success</li>
            </ul>
        </li><br>
        <li>PATCH /updatePassword 
            <ul>
                <li>query: token</li>
                <li>body: newPassword</li>
                <li>params: id</li>
                <li>returns: 400/403/500 on error with message or 200 on success</li>
            </ul>
        </li><br>
        <li>POST /queryUser
            <ul>
                <li>query: token</li>
                <li>body: searchTerm, attributes ( OPTIONAL - array containing user attributes i.e. ["firstname"])</li>
                <li>returns: 200 on success with queried user</li>
            </ul>
        </li><br>
    </ul>
    <b>HINT: </b> 
    <span>minimal user object needs to contain firstname, lastname, username, email, password, fieldOfActivity, researchInterest, securityQuestion, securityAnswer</span>
    <hr>
    <h1>What to do with the token?</h1>
    <span>
        The token contains the user id and can be verified by a secret key from our server. Once verified the api returns the user object.<br>
        You can do that by calling
        <ul>
            <li>GET /token
                <ul>
                    <li>query: token</li>
                    <li>returns: userObject</li>
                    <li>cookies: the browser cookies are updated on success with an object containing the user <b>Please add credentials: 'include' to the fetch, so that the browser can store the cookies</b></li>
                </ul>
            </li><br>
        </ul>
        Please be aware that many of the above APIs require the token. Upon login the token is saved in the cookies with key 'user'.
    </span>
    <hr>
    <p>May be implemented soon</p>
    <ul>
        <li> add event object to existing user (event id and user role for that event) </li>
        <li> [only if needed] get all users and their roles by event id</li>
    </ul>
</body>
</html>
