<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<meta charset="UTF-8" />
	
	<style type="text/css">
		* { font-family: Verdana, Arial, sans-serif; }
		body { background-color: #fff; cursor: default; font-size: 10pt;}
		h1 { font-size: 15pt; }
        .schema{ width: 80%; margin: 30px;}
	</style>
</head>

<body>
	<h1>Welcome to the account management backend</h1>
    <p>User Credentials:</p>
    <p>username: username, password: password (-> role: user)</p>
    <p>username: admin, password: admin (-> role: admin)</p>
    <p>The User Schema:</p>
    <pre class="schema">
        token: { type: String, required: true },
        title: { type: String }, // maybe predefined and select via dropdown
        gender: { type: String }, // select via dropdown?
        firstname: { type: String, required: true, trim: true },
        lastname: { type: String, required: true, trim: true },
        username: { // needs to be trimmed in frontend?
            type: String, unique: true, required: true, trim: true,
        },
        email: {
            type: String, unique: true, required: true, trim: true,
        },
        password: { type: String, required: true },
        organisation: { type: String, trim: true },
        address: { type: String, trim: true },
        city: { type: String }, // maybe also predefined via npm module
        country: { type: String }, // maybe also predefined via npm module
        zipCode: { type: Number },
        fieldOfActivity: { type: String, required: true, trim: true },
        researchInterest: { type: Array, required: true }, // predefined in enums
        role: { type: String, enum: ['admin', 'user'], default: 'user' },
        securityQuestion: { type: String, required: true }, // predefined in enums
        securityAnswer: { type: String, required: true, trim: true },
        eventbasedRole: [
            {
            role: { type: String },
            event: { type: Number }, // contains id of event
            },
        ],
    </pre>
    <hr>
	<h1>How to use our service:</h1>
    <br/>
    <p>Collections</p>
    <ul>
        <li>GET /securityQuestions - to get all possible security questions</li>
        <li>GET /researchInterests - to get all possible research Interests</li>
    </ul>
    <hr>
    <p>User</p>
    <ul>
        <li>POST /login - needs redirectUrl on where to go as parameter and username + password as body - on success the user is stored in the cookies and the redirectURL is used </li>
        <li>POST /register - needs a userobject as body (minumum requirements: firstname, lastname, username, email, password, fieldOfActivity, researchInterest, securityQuestion, securityAnswer)</li>
        <li>GET /uniqueUsername - needs username as parameter and checks if db already contains that value</li>
        <li>GET /uniqueEmail - needs email as parameter and checks if db already contains that value</li>
        <li>GET /checkSecurityAnswer - needs user id and his input answer and check if the saved answer matches</li>
    </ul>
    <hr>
    <p>Will be implemented soon:</p>
    <ul>
        <li>/updateUser</li>
        <li>/updatePassword</li>
        <li>/deleteUser</li>
    </ul>
</body>
</html>
